*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

#header, #menuHorz, #mainContent, #footer {
  padding: 0px 100px 0px 100px;
}

#wrapper {
  background-color: #FFFFFF;
  width: 1200px;
  height: 900px;
  display: inline-block;
}

#header {
  /*background-color: green;*/
  width: 1000px;
  height: 100px;
}

#header img {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 25px 0px 0px 225px;
}

#header h1 {
  /*text-align: center;*/
  display: inline-block;
  vertical-align: top;
  line-height: 100px;
}

#menuHorz {
  /*background-color: cyan;*/
  width: 1000px;
  height: 50px;
  text-align: center;
}

#menuHorz ul li {
  display: inline;
  color: orange;
  line-height: 50px;
  padding: 0px 40px 0px 40px;

}

#menuHorz ul li {
  font-size: 16px;
  font-weight: bold;
}

#menuHorz ul li a {
  text-decoration: none;
}

#mainContent {
  /*background-color: orange;*/
  width: 1000px;
  height: 100%;
  /*display: inline-block;*/
}

hr {
  width: 100%;
  border: none;
}

#mainContent .prodContent1 {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 350px;
  /*padding: 100px;*/
  background-color: red;
  margin: 25px;
}

#mainContent .prodContent2 {
  display: inline-block;
  vertical-align: top;
  width: 550px;
  height: 350px;
  /*padding: 100px;*/
  background-color: green;
  margin: 25px;
}

/*#mainContent .prodContent1 h3, #mainContent .prodContent2 h3 {
  position: absolute;
  top: 475px;
  left: 140px;
  width: 100%;
}
#mainContent .prodContent1 h3, #mainContent .prodContent2 h3 {
  position: absolute;
  top: 475px;
  left: 140px;
  width: 100%;
}*/

#mainContent img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

#wrapper .hr0 {
  width: 1200px;
  height: 4px;
}

#wrapper .hr0, #footer .hr1 {
  background-color: rgb(130, 130, 130);
}

#footer .hr1 {
  height: 2px;
}

#footer {
  /*background-color: purple;*/
  width: 1000px;
  height: 150px;
  display: inline-block;
}

#footer .hr2 {
  background-color: red;
  height: 1px;
}

#footer .footContent {
  width: 25%;
  height: 100%;
  display: inline-block;
  vertical-align: top;


}

#footer .footContent {
  /*background-color: yellow;*/
  /*opacity: .2;*/
}

#footer .footContent h3 {
  color: black;
  font-size: 18px;
  padding: 15px 0px 0px 0px;
}

#footer .footContent h5 {
  font-size: 12px;
  padding: 10px 0px 0px 0px;
}

#footer .footContent h5 a {
  text-decoration: none;

}

#footer .footContent h5 a:hover, #menuHorz ul li a:hover {
  color: rgb(255, 0, 0);
}

#footer .textReserved {
  padding: 10px 0px 0px 0px;
  text-align: center;
}

#footer .footContent .inputTextBox {
  display: block;
  width: 65%;
  height: 20px;
  margin: 15px 0px 0px 0px;
  text-align: left;
}

#footer .footContent .butSubmitBox {
  background-color:  rgb(255, 0, 0);
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#footer .footContent .butSubmitBox {
  display: inline-block;
  height: 25px;
  width: 35%;
  margin: 10px 0px 0px 0px;
}
